body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #fff;
    color: white;
    padding: 10px 0;
    text-align: center;
    border-bottom: 2px solid #eee;

}
.brand {
    font-size: 24px;
    font-weight: bold;
    color: #24378e;
    text-decoration: none;
}
.download-app {
    background-color: #ff4f00;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: pointer;
}